//set where the intermediate files are stored
workDir = "${WORK}/call_loops_nextflow_workdir/"

// set directives
conda {
    cacheDir = "${WORK}/conda_envs_nextflow/"
    useMamba = true
}

executor {
    $slurm {
        queue = "shortterm"
    }
}

process {
    // set default parameters
    stageInMode = 'copy'
    publishDir = [path: "${params.outdir}", mode: 'copy']
    cpus =  1
    memory = { 20.GB * task.cpus }
    conda = "envs/peakachu.yaml"
    executor = "slurm"
    scratch = '$SCRATCH'
}
