// set global directives

// Use dsl 2 to separate process declaration and workflow
nextflow.enable.dsl=2

//set where the intermediate files are stored
workDir = "${WORK}/call_tad_nextflow_workdir/"

executor {
    $slurm {
        queue = "shortterm"
    }
}

process {
    // set default parameters
    errorStrategy = 'finish'
    stageInMode = 'copy'
	  publishDir = [path: "${params.outdir}/",
                mode: 'copy']
    cpus =  1
    memory = { 20.GB * task.cpus }
    executor = "slurm"
    scratch = '$SCRATCH'
    withLabel: tiny {
        executor = "local"
        cpus = 1
        memory = 1.MB
    }
    withName: perform_arrowhead {
        publishDir = [path: "${params.outdir}/arrowhead/",
                    saveAs: { filename -> "${meta.samplename}_$filename" },
                    mode: 'copy']
        cpus = 4
    }
}
