//set where the intermediate files are stored
workDir = "${WORK}/apa_nextflow_workdir/"

executor {
    $slurm {
        queue = "shortterm"
    }
}

process {
    // set default parameters
	  publishDir = [path: "${params.outdir}", mode: 'copy']
    cpus =  1
    memory = { 20.GB * task.cpus }
    executor = "slurm"
    scratch = '$SCRATCH'
    stageInMode = "copy"
        
        withLabel: tiny {
            cpus = 1
            memory = 10.MB
        }

        withName: do_juicer_apa {
            publishDir = [path: "${params.outdir}/juicer_apa/",
                        saveAs: { filename -> "${meta.id}_$filename" },
                        mode: 'copy']
        }
}
