// set global directives

// Use dsl 2 to separate process declaration and workflow
nextflow.enable.dsl=2

//set where the intermediate files are stored. This is set to $WORK, because $SCRATCH is node-specific and cannot start more batch scripts by HiCPro_step*.sh
workDir = "$WORK/hic_nextflow_workdir" 
conda.enabled = true

// set directives for processes
process {
    // set default parameters
    cpus =  1
    memory = { 5.GB * task.cpus }
    executor = 'slurm'
        
        withName: build_reference_indices {
            stageInMode = "copy"
            scratch = '$SCRATCH' // Has to be single quotes
            conda = "$WORK/.omics/anaconda3/envs/HiC_pro"
        }
        
        withName: create_genome_sizes {
            stageInMode = "copy"
            memory = 1.MB
        }

        withName: create_restriction_fragments {
            stageInMode = "copy"
            conda = "$WORK/.omics/anaconda3/envs/HiC_pro"
            memory = { 1.GB * task.cpus }
        }
        
        withName: rename_n_stage_bowtie2index {
            stageInMode = "copy"
            memory = 1.MB
        }

        withName: downsample_fastqgz {
            cpus = 1
            scratch = '$SCRATCH' // Has to be single quotes
            memory = { 1.GB * task.cpus }
        }
        
        withName: split_fastqgz {
            stageInMode = "copy"
            scratch = '$SCRATCH' // Has to be single quotes
            cpus = 2
            memory = { 1.GB * task.cpus }
        }
        
        withName: edit_config_file {
            cpus = 1
            memory = 1.MB
        }

        withName: hic_pro_in_parallel_mode {
            executor = 'local'
            conda = "$WORK/.omics/anaconda3/envs/HiC_pro"
            cpus = 1
            memory = 100.MB
        }

        withName: allValidPairs_to_juicertools_hic {
            conda = "$WORK/.omics/anaconda3/envs/HiC_pro"
            scratch = '$SCRATCH' // Has to be single quotes
            cpus = 6
            memory = 140.GB
            errorStrategy = 'finish'
        }
}

executor {
    $slurm {
        queue = "shortterm"
    }
}

