//set where the intermediate files are stored
workDir = "${WORK}/diff_loops_nextflow_workdir/"

// set directives
conda {
    cacheDir = "${WORK}/conda_envs_nextflow/"
    useMamba = true
}

executor {
    $slurm {
        queue = "shortterm"
    }
}

process {
    // set default parameters
	  publishDir = [path: "${params.outdir}", mode: 'copy']
    cpus =  1
    memory = { 20.GB * task.cpus }
    conda = "envs/peakachu.yaml"
    executor = "slurm"
    scratch = '$SCRATCH'
    stageInMode = "copy"
        
        withName: get_union_of_loops {
            publishDir = [path: "${params.outdir}/union_of_loops/",
                        mode: 'copy']
        }

        withName: do_diffpeakachu {
            publishDir = [path: "${params.outdir}/diffpeakachu/",
                        mode: 'copy']
            memory = { 50.GB * task.cpus }
        }
        
        withName: annotate_loops {
            memory = { 1.GB * task.cpus }
            publishDir = [path: "${params.outdir}/genes_in_loops/",
                        mode: 'copy']
        }
}
