//set where the intermediate files are stored
workDir = "${WORK}/hic_to_cool_nextflow_workdir/"

// set directives
conda {
    enabled = true
    cacheDir = "${WORK}/conda_envs_nextflow/"
    useMamba = true
}

executor {
    $slurm {
        queue = "shortterm"
    }
}

process {
    // set default parameters
    stageInMode = 'copy'
	  publishDir = [path: "${params.outdir}", mode: 'copy']
    cpus =  1
    memory = { 15.GB * task.cpus }
    conda = "envs/hicexplorer.yml"
    executor = "slurm"
    scratch = '$SCRATCH'

    withLabel: tiny {
        memory = 20.MB
    }
    withName: hic_to_cool_raw {
        publishDir = [ path: "${params.outdir}/raw_cool/",
                    mode: 'copy' ]
    }
    withName: cool_normalizeNcorrect {
        publishDir = [path: "${params.outdir}/normalized_corrected_cool/",
                    mode: 'copy']
    }
}
